<launch>
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
    <include file="$(find find_frontier)/launch/hector_mapping.launch" />
    <include file="$(find find_frontier)/launch/move_base.launch" />
    <node pkg="tf_robot" type="tf_robot" name="tf_robot"/>
    <node pkg="tf_ball" type="tf_ball" name="tf_ball"/>
    <node pkg="ball_detection" type="ball_detect_node_1" name="ball_detect_node_1"/>
    <node pkg="control" type="control" name="control"/>
    <node pkg="find_frontier" type="find_frontier_node"  name="find_frontier_node"/>
    <node pkg="dqn" type="convert_sensor_to_image" name="convert_sensor_to_image"/>
</launch>